# ==================================================================================================
#  COMMON APP CONFIG
# ==================================================================================================

app_config: !include {{ app_config }}
